version: 2.1

orbs:
  python: circleci/python@1.5.0

jobs:
  build-and-test:
    docker:
      - image: cimg/python:3.8

    steps:
      - run: sh -c env
      - checkout
      - run:
          name: Install dependencies
          command: |
            sudo apt-get update
            sudo apt install texlive-latex-extra cm-super dvipng
            sudo apt-get install -y g++ libboost-all-dev libgsl-dev libhdf5-serial-dev zip
            pip3 install numpy h5py pip install PyYAML pandas astropy scipy
            
      - run:
          name: Build COMPAS
          command: |
            cd src
            make -j 4 -f Makefile
            ./COMPAS -v
            
      - run:
          name: Run python scripts
          command: |
            export COMPAS_ROOT_DIR=${CIRCLE_WORKING_DIRECTORY}
            cd utils/example_plots/methods_paper_plots/detailed_evolution
            python3 runSubmitDemo.py
            python3 plot_detailed_evolution.py
  
  build-docker-image:
    docker:
      - image: cimg/python:3.8
    steps:
      - run: echo ' all done and dusted'
      
workflows:
  First:
    jobs:
      - build-and-test:
          filters:
            branches:
              only:
                - dev
      - Hold-For-Approval:
          type: approval
          filters:
            branches:
              only:
                - dev
          requires:
            - build-and-test
      - build-docker-image:
          filters:
            branches:
              only:
                - dev
          requires:
            - Hold-For-Approval

        
